# INSTRUÇÕES:
# 1. Copie este arquivo e renomeie a cópia para apenas `.env` (este arquivo .env 
#    ficará invisível para o Git e protegerá suas senhas).
# 2. Substitua os valores abaixo pelas credenciais de teste fornecidas pela equipe.
# 3. ⚠️ NUNCA digite senhas reais neste arquivo (.env.example)!

USER_EMAIL="seu_email_de_teste_aqui"
USER_PASSWORD="sua_senha_de_teste_aqui"